@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Playpen+Sans:wght@500&display=swap');

*{
    padding: 0vh;
    margin: 0vh;
}

.mc{
    background-image: url(bg.jpg);
    background-size: cover;
}

.navbar{
    background-color: antiquewhite;
    border: 0.1vw solid black;
    width: 7vw;
    height: 99.7vh;
}

#linkgroup1{
    text-align: center;
}

.l1 img{
    background-color: white;
    margin: 0.5vw;
    border: 0.1vw solid black;
    border-radius: 20vw;
    width: 4vw;
    display: inline;
    transition: 0.4s;
}

.l1 :hover{
    transition: 0.4s;
    font-size: larger;
    padding: 0.3vw;
}

.logo img{
    margin: 0.9vw;
    border: 0.1vw solid black;
    border-radius: 120vw;
    width: 5vw;
    display: inline;
}

#logo{
    text-align: center;
}

.Conc{
    padding: 2vw;
    border: 0.1vw solid black;
    border-radius: 1.5vw;
    background-color: blanchedalmond;
    position: absolute;
    left: 12%;
    top: 25%;
    width: 80vw;
    text-align: center;
}

.Conc h1{
    font-family: 'Playpen Sans', cursive;
    font-size: 5vw;
}

.Conc p{
    font-family: 'Playpen Sans', cursive;
    font-size: 1.3vw;
}

.copyright p{
    padding: 0.2vw;
    background-color: blanchedalmond;
    position: absolute;
    border: 0.1vw solid black;
    font-size: 0.7vw;
    left: 10%;
    bottom: 0%;
}

.img1 {
    top: 3%;
    position: absolute;
    left: 20%;
}

.img2 {
    position: absolute;
    right: 10%;
    top: 3%;
}

.lm a{
    color: azure;
    background-color: black;
    border-radius: 2vw;
    padding: 2vw;
    border: 0.1vw solid black;
    position: absolute;
    font-size: 3vw;
    text-decoration: none;
    left: 44%;
    top: 3%;
    transition: 0.4s;
}

.lm :hover{
    transition: 0.4s;
    padding: 3vw;
}